@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #489fc6;
  --color-primary-dark: #2564C3;
  --color-secondary: #F8F8F8;
  --color-background: #F9FAFB;
}
